<div class="row">
    <div class="col-md-3 left-col">
        <div class="scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a routerLink="/" class="site-title"><h1>{{title}}</h1></a>
            </div>
            <div class="clearfix"></div>
            <div class="menu_section active">
                <main-menu></main-menu>
            </div>
        </div>
    </div>
    <div class="right-col col-md-9" role="main">
        <router-outlet></router-outlet>
    </div>
</div>