/* General styles */
h1 { font-size: 26px; margin: 0; line-height: 40px; color: #333333;}
h2 { font-size: 22px; color: #333333; }
.container { width: 100%; }
.left-col { padding: 10px; }
.right-col { padding: 10px; }

.navbar { margin: 0; }

.site-title:hover { text-decoration: none; }

.side-menu li {
    border: 1px solid #eeeeee;
    background: #fbfbfb;
    color: #333333;
}
.side-menu li:first-child { border-radius: 4px 4px 0 0; }
.side-menu li:last-child { border-radius: 0 0 4px 4px; }
.side-menu li a { color: #333333; }
.side-menu .selected { background: #f0f0f0; }
.side-menu li a:hover { background: #dddddd; }

ul.item-list {
    list-style: none outside none;
    margin: 0; padding: 0;
}
ul.item-list .btn { float: right; }
ul.item-list > li { 
    overflow: hidden;
    border: 1px solid #eeeeee;
    background: #fbfbfb;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}
ul.item-list .title { display: inline-block; padding: 6px 12px; }

.alert { padding: 6px 12px; margin-top: 5px; }


/* Loading screen */
.loading-panel { display: flex; height: 100vh; align-items: center; justify-content: center; }
.loading-text { flex: none; font-size: 20px; max-width: 50%; color: #cccccc; }


/* Dashboard screen */
.flex-row { display: flex; }
.flex-col {
    background: #eeeeee;
    color: #aaaaaa;
    flex: 1;
    margin: 10px;
    padding: 10px;
}
.flex-col:first-child {
    margin-left: 0;
}
.flex-col:last-child {
    margin-right: 0;
}
@media (max-width: 400px) {
  .flex-row {
    display: block;
  }
  .flex-col {
      margin: 10px 0;
  }
}

